/* Hide ad elements */
.in_game_ab_right,
.in_game_ab_left,
.in_game_ab_bottom,
.in_game_ab_bottom_small {
  display: none !important;
}

/* Make canvas fullscreen */
canvas {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 1000 !important;
}
